h1 {float: left; line-height: 60px; font-size: 18px; color: white;
  margin: 0px; box-sizing: border-box;}

  header {background-color: aqua; text-align: center;}
  footer {background-color: aqua;
    height: 50px;
    line-height: 50px;
    text-align: right;
    padding: 0 20px;}
ul {float: right;
    padding: 0;
  box-sizing: border-box;}
  .container {
    max-width: 900px;
    margin: auto;}
  .about {
    background-color: blue;
    color: white; padding: 30px 20px;
    box-sizing: border-box;}
    .product-item {
        float: left;
        width: 33%;
        padding: 10px;
        box-sizing: border-box;}
